#links a {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all .3s linear;
    display: block;
    width: 45vw;
    margin-top: 10vh;
    font-size: 2.5rem;
    text-shadow: 2px 2px black;
    line-height: 10vh;
}
#links a:hover {
    transform: scale(1.05);
    color: black;
    text-shadow: 2px 2px white;
}