@import url(start_div.css);

html {
    font-size: 16px;
    height: 300vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(../img/background.jpg);
    background-size: 100%;
    color: white;
    font-family: 'ModernWarfare';
    font-size: 1.7rem;
}

@font-face {
    font-family: 'ModernWarfare'; /* Гарнитура шрифта */
    src: url(ModernWarfare-8MM6z.ttf); /* Путь к файлу со шрифтом */
}


