#start_div {
    height: 90vh;
    width: 100%;
    display: flex;
    gap: 5vw;
}

#start_div #info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: 2s 1 text;
}

#start_div .text h1 {
    color: black;
}
#start_div .text article{
    width: 45vw;
    text-shadow: 2px 2px 1.5px rgb(0, 0, 0);
}
/* #start_div .text #logo{
    position: relative;
    top: +3vh;
    left: -6vw;
    width: 150px;
    height: 150px;
} */
#start_div .text #title {
    letter-spacing: 5px;
    font-size: 2rem;
    text-shadow: 1px 1px 1px white;
    display: flex;
    width: 40vw;
}

#start_div #info #play_buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 12%;
}
#start_div #info #play_buttons form {
    width: 45%;
}
#start_div #info #play_buttons form button {
    border: 3px rgb(0, 0, 0) solid;
    box-shadow: 15px 15px 5px rgb(215, 215, 2);
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .3s linear;
}
#start_div #info #play_buttons form button:hover {
    box-shadow: none;
    translate: 15px 15px;
    border-radius: 15px;
    transform: rotate(2deg);
}
#start_div #info #play_buttons form #Steam{
    background-color: rgb(74, 74, 255);
}

#start_div .img {
    margin-left: 6vw;
}

#start_div .img img {
    margin-top: 8vh;
    height: 90%;
    width: 32vw;
    animation: 2s 1 solider;
}



@keyframes solider {
    0% {
        margin-left: -35vw;
    }
    100% {
        margin-left: 0vw;
    }
}

@keyframes text {
    0% {
        margin-left: 95vw;
    }
    100% {
        margin-left: 0vw;
    }
}