{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'main/img/logo.jpg' %}" type="image/x-icon">
    <title>Alpha Defence</title>
</head>
<body>
    <div id="background"></div>
    <main>
        <div id="start_div">
            <div class="img">
                <img src="{% static 'main/img/solider.jpg' %}" id="solider">
            </div>
    
            <div id="info">
                <div class="text">
                    <div id="title">
                        <h1>Alpha Defense</h1>
                    </div>
                    <article>
                        Shareware multiplayer shooter with a first-person view.
                         You will have to apply combat skills by participating against
                         other players in PvP mode or joining forces with friends
                    </article>
                </div>
                <div id="play_buttons">
                    <form action="">
                        <button id="Steam">Play in Steam</button>
                    </form>
                    <form action="https://vkplay.ru/play/game/alphadefensefps/">
                        <button id="VK_Play">Play in VK Play</button>
                    </form>          
                </div>
            </div>
        </div>


        <div id="simple-ss"></div>

        <div id="links">
            <div id="join">
                <a class="text" href="https://t.me/alphadefensetg" id="tg">Telegram</a>
                <a href="https://discord.gg/QBQXzHhw" id="dc">Discord</a>
                <a href="https://www.youtube.com/@SainWee" id="yt">Youtube</a>
            </div>

            <div id="donate">
                <a class="text" href="https://www.donationalerts.com/r/sainwee">Donate to upgrade the game</a>
                <a class="text" href="https://www.donationalerts.com/r/Alex_WebDev">Donate to upgrade this site</a>
            </div>
        </div>
    </main>

    <script src="{% static 'main/js/main.js' %}" type="text/js"></script>
</body>
</html>