{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'main/img/logo.jpg' %}" type="image/x-icon">
    <title>Alpha Defence</title>
</head>
<body>
    <main>
        <div id="start_div">
            <div class="img">
                <img src="{% static 'main/img/solider.jpg' %}" id="solider">
            </div>
    
            <div id="info">
                <div class="text">
                    <div id="title">
                        <h1>Alpha Defense</h1>
                    </div>
                    <article>
                        Shareware multiplayer shooter with a first-person view.
                         You will have to apply combat skills by participating against
                         other players in PvP mode or joining forces with friends
                    </article>
                </div>
                <div id="play_buttons">
                    <form action="">
                        <button id="Steam">Play in Steam</button>
                    </form>

                    <form action="https://vkplay.ru/?_1lr=64a9337069fb87ab-200-3474550_2074087_5192996042_
                                  14136445959-3474550_2074087_5192996042_14136445959&utm_content=%
                                  7Cgid_actionrpg%7Cad_14136445959%7Cph_44731550415%7Csrc_none%7Cgeo_240&
                                  utm_medium=cpc&utm_campaign=87674153&yclid=4123813647942942719&utm_source
                                  =yandex.direct&utm_term=play%20vk">
                        <button id="VK_Play">Play in VK Play</button>
                    </form>          
                </div>
            </div>
        </div>
    </main>
</body>
</html>